body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 66px;
  background-color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body>#root>div {
  height: 100vh;
  width: 100vw;
}

#mainpagediv {
    text-align: left;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #4943c0 0%, #a94091 35%, #ffa600 100%);
    /* background-color: orange; */
}

@media screen and (min-width: 600px) {
    .loginscreen {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
    }
} 

@media not screen and (min-width: 600px) {
    .loginscreen {
        display: flex;
        flex-direction: column;
        padding: 5rem;
       
    }
}


.login-div {
    text-align: left;
    padding: 0.25rem 0;
    color: white;
}

input {
    margin: 0.5 rem 0;
    padding: 0.75rem;
    border-radius: 10px;
}